<!DOCTYPE html>
<html>
    
    <head>
        
        <title> Booking Credit Note </title>

        <!-- <link rel = "stylesheet" href = "assets/bootstrap/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style type = "text/css">

            @font-face{
                font-family: Earthwerk;
                src: url("""/docs/Earthwerk/PizzaDude.dk%20-%20Earthwerk.otf")
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            .earth{
                font-family: Earthwerk;
            }

            .earth-colour{
                color: #74a533;
            }

            /* @page{
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm; 
            } */

        </style>

    </head>

    <body>

        <div class="container fluid">
            <div class="container fluid">
                <div class="v-card v-card--flat theme--light">
                    <div class="container">
                        <br>
                        <div class="panel-body p-xl">
                            <!-- <div class="layout row wrap">
                                <div class = "col-xs-12"> <h3 class="earth"> Booking Invoice </h3> </div>
                            </div> -->
                            
                            <div class="layout row wrap">
                                <div class = "col-xs-3" style="float: left; width: 60%;">
                                    <br>
                                    <img src="""/img/OPRanchingLogo.d8a15e75.png" style = "width: 35%" alt = "Logo">
                                </div>
                                <!-- <div class="col-xs-6"></div> -->
                                <div class = "col-xs-3 offset-xs-6" style="float: right; width: 40%;">
                                    <p>
                                        <h5>
                                            <div class = "earth earth-colour">CREDIT NOTE</div>
                                            <br>
                                            Booking ID: {{ data.booking_ref }}
                                            {% if data.partner_booking %}
                                                {% if data.partner_booking_ref %}
                                                    <br>
                                                    Booking Ref: {{ data.partner_booking_ref }}
                                                {% endif %}
                                            {% endif %}
                                        </h5>
                                    </p>
                                    <br>
                                    <address>
                                        {% if data.school_booking %}
                                            Guest: <strong> {{ data.school_name }} </strong><br>
                                        {% else %}
                                            Guest: <strong> {{ data.booking_done_by }} </strong><br>
                                        {% endif %}
                                        Phone Number: <strong> {{ data.phone_number }} </strong><br>
                                        Email Address: <strong> {{ data.email_address }} </strong><br>
                                        Destination: <strong> {{ data.destination }} </strong><br>
                                        Payment Status: <strong> {{ data.payment_status }} </strong><br>
                                    </address>
                                    <p>
                                        <span><strong>Check-in Date:</strong> {{ data.booking_check_in_date }} </span><br>
                                        <span><strong>Check-out Date:</strong> {{ data.booking_check_out_date }} </span><br>
                                    </p>
                                </div>
                            </div>
                            
                            {% if data.guests %}
                                <div class="table table-responsive m-t">
                                    <br>
                                    <h5 class="earth earth-colour">CONSERVATION ENTRY FEES</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Residency</b></td>
                                                <td><b>Rates</b></td>
                                                <td class = "text-right"><b>Amount</b>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for single_guest in data.guests %}
                                                <tr>
                                                    <td>
                                                        {{ single_guest.credit_person }}
                                                        <b> ({{ single_guest.credit_no_of_guests }}) </b>
                                                        <br>
                                                        <em> {{ single_guest.credit_person_check_in_date_formatted }} to {{ single_guest.credit_person_check_out_date_formatted }} </em>
                                                    </td>
                                                    {% if single_guest.credit_no_of_nights > 1 %}
                                                        {% set day_unit = "Nights" %}
                                                    {% elif single_guest.credit_no_of_nights == 1 %}
                                                        {% if single_guest.credit_person_check_in_date_formatted == single_guest.credit_person_check_out_date_formatted %}
                                                            {% set day_unit = "Day" %}
                                                        {% else %}
                                                            {% set day_unit = "Night" %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <td>
                                                        {{ single_guest.credit_no_of_guests }} x {{ single_guest.credit_no_of_nights }} {{ day_unit }}
                                                    </td>
                                                    <td class = "text-right">
                                                        {{ data.currency }}
                                                        {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_guest.credit_person_total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            
                            {% if data.vehicles %}
                                <div class="table table-responsive m-t">
                                    <br>
                                    <h5 class="earth earth-colour">CONSERVATION VEHICLE FEES</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Vehicle Type</b></td>
                                                <td><b>Rates</b></td>
                                                <td class = "text-right"><b>Amount</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for single_vehicle in data.vehicles %}
                                                <tr>
                                                    <td>
                                                        {{ single_vehicle.credit_vehicle }}
                                                        <b> ({{ single_vehicle.credit_no_of_vehicles }}) </b>
                                                        <br>
                                                        <em> {{ single_vehicle.credit_vehicle_check_in_date_formatted }} to {{ single_vehicle.credit_vehicle_check_out_date_formatted }} </em>
                                                    </td>
                                                    {% if single_vehicle.credit_no_of_nights > 1 %}
                                                        {% set day_unit = "Nights" %}
                                                    {% elif single_vehicle.credit_no_of_nights == 1 %}
                                                        {% if single_vehicle.credit_vehicle_check_in_date_formatted == single_vehicle.credit_vehicle_check_out_date_formatted %}
                                                            {% set day_unit = "Day" %}
                                                        {% else %}
                                                            {% set day_unit = "Night" %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <td>
                                                        {{ single_vehicle.vehicles }} x {{ single_vehicle.vehicle_no_of_nights }} {{ day_unit }}
                                                    </td>
                                                    <td class = "text-right">
                                                        {{ data.currency }}
                                                        {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_vehicle.credit_vehicle_total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            
                            <!-- Sort out accommodation -->
                            
                            {% if data.inventory %}
                                <div class="table table-responsive m-t">
                                    <br>
                                    <h5 class="earth earth-colour">CONSERVATION ACTIVITIES</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Activity Name</b></td>
                                                <td><b>Rates</b></td>
                                                <td class = "text-right"><b>Amount</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for single_activity in data.inventory %}
                                                <tr>
                                                    <td>
                                                        {{ single_activity.credit_inventory }}
                                                        <b> ({{ single_activity.credit_no_of_adults + single_activity.credit_no_of_children }}) </b>
                                                        <br>
                                                        <em> {{ single_activity.credit_inventory_date_formatted }} </em>
                                                    </td>
                                                    <td>
                                                        {% if single_activity.credit_no_of_adults > 0 %}
                                                            {% if single_activity.inventory_ranger_marker %}
                                                                <b> Ranger: </b> {{ single_activity.credit_no_of_adults }} x 1 Day
                                                                <br>
                                                            {% else %}
                                                                <b> Adult: </b> {{ single_activity.credit_no_of_adults }} x 1 Day
                                                                <br>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if single_activity.credit_no_of_children > 0 %}
                                                            <b> Child: </b> {{ single_activity.credit_no_of_children }} x 1 Day
                                                        {% endif %}
                                                    </td>
                                                    <td class = "text-right">
                                                        {{ data.currency }}
                                                        {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_activity.credit_inventory_total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if data.facilities %}
                                <div class="table table-responsive m-t">
                                    <br>
                                    <h5 class="earth earth-colour">CONSERVATION ACCOMMODATION</h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Accommodation Name</b></td>
                                                <td><b>Rates</b></td>
                                                <td class = "text-right"><b>Amount</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for single_acc in data.facilities %}
                                                <tr>
                                                    <td>
                                                        {{ single_acc.credit_facility }} {% if single_acc.facility_catering_type_name %} ({{ single_acc.facility_catering_type_name }}) {% endif %}
                                                        <b> ({{ single_acc.credit_no_of_guests }}) </b>
                                                        <br>
                                                        <em> {{ single_acc.credit_facility_check_in_date.strftime("%d %b %Y") }} to {{ single_acc.credit_facility_check_out_date.strftime("%d %b %Y") }} </em>
                                                    </td>
                                                    <td>
                                                        <!-- Handling camping accommodation -->
                                                        {% if single_acc.facility_type == "Camping Sites" %}
                                                            {% if single_acc.credit_no_of_adults > 0 %}
                                                                {% if single_acc.credit_no_of_nights > 1 %}
                                                                    {% set day_unit = "Nights" %}
                                                                {% else %}
                                                                    {% set day_unit = "Night" %}
                                                                {% endif %}
                                                                <b> Camping Fee (Adult): </b> {{ single_acc.credit_no_of_adults }} x {{ single_acc.credit_no_of_nights }} {{ day_unit }}
                                                                <br>
                                                            {% endif %}
                                                            {% if single_acc.credit_no_of_children > 0 %}
                                                                <b> Camping Fee (Child): </b> {{ single_acc.credit_no_of_children }} x {{ single_acc.facility_no_of_nights }} {{ day_unit }}
                                                            {% endif %}
                                                        {% endif %}

                                                        <!-- Handling Stables -->
                                                        {% if single_acc.accomodation_type == "Stables" %}
                                                            {% if single_acc.facility_booking_adults %}
                                                                {% if single_acc.facility_booking_adults + single_acc.facility_booking_children > 0 %}
                                                                    <b> {{ single_acc.chef_room_marker }}: </b> {{ single_acc.no_of_rooms }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
                                                                    {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_room, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                                    <br>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if single_acc.facility_booking_extra_adults %}
                                                                {% if single_acc.facility_booking_extra_adults > 0 %}
                                                                    <b> Adult: </b> {{ single_acc.facility_booking_extra_adults }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
                                                                    {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_extra_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                                    <br>
                                                                {% endif %}
                                                             {% endif %}
                                                            {% if single_acc.facility_booking_extra_children %}
                                                                {% if single_acc.facility_booking_extra_children > 0 %}
                                                                    <b> Child: </b> {{ single_acc.facility_booking_extra_children }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
                                                                    {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_extra_child, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}

                                                        <!-- Handling Pelican -->
                                                        {% if single_acc.accomodation_type == "Pelican" %}
                                                            {% if single_acc.credit_no_of_nights > 1 %}
                                                                {% set day_unit = "Nights" %}
                                                            {% else %}
                                                                {% set day_unit = "Night" %}
                                                            {% endif %}
                                                            {% if single_acc.credit_no_of_adults > 0 %}
                                                                <b> Adult: </b> {{ single_acc.credit_no_of_adults }} x {{ single_acc.credit_no_of_nights }} {{ day_unit }}
                                                                <br>
                                                            {% endif %}
                                                            {% if single_acc.credit_no_of_children > 0 %}
                                                                <b> Child: </b> {{ single_acc.credit_no_of_children }} x {{ single_acc.credit_no_of_nights }} {{ day_unit }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td class = "text-right">
                                                        {{ data.currency }}
                                                        {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.credit_facility_total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            
                            <div class="row m-t">
                                <div class="col-md-4 offset-md-8">
                                    <table class="table text-right">
                                        <tbody>
                                            <tr>
                                                <td><h2 class = "earth earth-colour">TOTAL :</h2></td>
                                                <td><h2>
                                                    <b>
                                                        {{ data.currency }}
                                                        {{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, data.total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
                                                    </b>
                                                </h2></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>        

    </body>

</html>