<!DOCTYPE html>
<html>
	
	<head>
		
		<title> Booking Invoice </title>

		<!-- <link rel = "stylesheet" href = "assets/bootstrap/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<style type = "text/css">

			@font-face{
				font-family: Earthwerk;
				src: url("""/docs/Earthwerk/PizzaDude.dk%20-%20Earthwerk.otf")
			}

			body {
				font-family: Arial, Helvetica, sans-serif;
			}

			.earth{
				font-family: Earthwerk;
			}

			.earth-colour{
				color: #74a533;
			}

			/* @page{
				width: 21cm;
				height: 29.7cm;
				margin: 30mm 45mm 30mm 45mm; 
			} */

		</style>

	</head>

	<body>

		<div class="container fluid">
			<div class="container fluid">
				<div class="v-card v-card--flat theme--light">
					<div class="container">
						<br>
						<div class="panel-body p-xl">
							<!-- <div class="layout row wrap">
								<div class = "col-xs-12"> <h3 class="earth"> Booking Invoice </h3> </div>
							</div> -->
							
							<div class="layout row wrap">
								<div class = "col-xs-3" style="float: left; width: 60%;">
									<br>
									<img src="""/img/OPRanchingLogo.d8a15e75.png" style = "width: 35%" alt = "Logo">
								</div>
								<!-- <div class="col-xs-6"></div> -->
								<div class = "col-xs-3 offset-xs-6" style="float: right; width: 40%;">
									<p>
										<h5>
											<div class = "earth earth-colour">BOOKING INVOICE</div>
											<br>
											Booking ID: {{ data.booking_ref }}
											{% if data.partner_booking %}
												{% if data.partner_booking_ref %}
													<br>
													Booking Ref: {{ data.partner_booking_ref }}
												{% endif %}
											{% endif %}
										</h5>
									</p>
									<br>
									<address>
										{% if data.school_booking %}
											Guest: <strong> {{ data.school_name }} </strong><br>
										{% else %}
											Guest: <strong> {{ data.booking_done_by }} </strong><br>
										{% endif %}
										Phone Number: <strong> {{ data.phone_number }} </strong><br>
										Email Address: <strong> {{ data.email_address }} </strong><br>
										Destination: <strong> {{ data.destination }} </strong><br>
										Payment Status: <strong> {{ data.payment_status }} </strong><br>
									</address>
									<p>
										<span><strong>Created on:</strong> {{ data.created_at }} </span><br>
										<span><strong>Check-in Date:</strong> {{ data.booking_check_in_date }} </span><br>
										<span><strong>Check-out Date:</strong> {{ data.booking_check_out_date }} </span><br>
									</p>
								</div>
							</div>
							
							{% if data.guest_total > 0 %}
								<div class="table table-responsive m-t">
									<br>
									<h5 class="earth earth-colour">CONSERVATION ENTRY FEES</h5>
									<table class="table table-striped">
										<thead>
											<tr>
												<td><b>Residency</b></td>
												<td><b>Rates</b></td>
												{% if data.guest_total_discount > 0 %}
													</td><td><b>Discount</b></td>
												{% endif %}
												<td class = "text-right"><b>Amount</b>
											</tr>
										</thead>
										<tbody>
											{% for single_guest in data.guests %}
												{% if single_guest.payment_guests > 0 %}
													<tr>
														<td>
															{{ single_guest.payment_person }}
															<b> ({{ single_guest.payment_guests }}) </b>
															<br>
															<em> {{ data.booking_check_in }} to {{ data.booking_check_out }} </em>
														</td>
														{% if single_guest.no_of_nights > 1 %}
															{% set day_unit = "Nights" %}
														{% elif single_guest.no_of_nights == 1 %}
															{% set day_unit = data.unit %}
														{% endif %}
														<td>
															{{ single_guest.payment_guests }} x {{ single_guest.no_of_nights }} {{ day_unit }} @ {{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_guest.payment_person_amount, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</td>
														{% if data.guest_total_discount > 0 %}
															<td> {{ single_guest.payment_person_discount }}% </td>
														{% endif %}
														<td class = "text-right">
															{{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_guest.payment_person_cost_after_discount, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
							
							{% if data.vehicle_total > 0 %}
								<div class="table table-responsive m-t">
									<br>
									<h5 class="earth earth-colour">CONSERVATION VEHICLE FEES</h5>
									<table class="table table-striped">
										<thead>
											<tr>
												<td><b>Vehicle Type</b></td>
												<td><b>Rates</b></td>
												{% if data.vehicle_total_discount > 0 %}
													<td><b>Discount</b></td>
												{% endif %}
												<td class = "text-right"><b>Amount</b></td>
											</tr>
										</thead>
										<tbody>
											{% for single_vehicle in data.vehicles %}
												{% if single_vehicle.vehicles > 0 %}
													<tr>
														<td>
															{{ single_vehicle.vehicle_charge_category }}
															<b> ({{ single_vehicle.vehicles }}) </b>
															<br>
															<em> {{ data.booking_check_in }} to {{ data.booking_check_out }} </em>
														</td>
														{% if single_vehicle.vehicle_no_of_nights > 1 %}
															{% set day_unit = "Nights" %}
														{% elif single_vehicle.vehicle_no_of_nights == 1 %}
															{% set day_unit = data.unit %}
														{% endif %}
														<td>
															{{ single_vehicle.vehicles }} x {{ single_vehicle.vehicle_no_of_nights }} {{ day_unit }} @ {{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_vehicle.vehicle_charge_category_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</td>
														{% if data.vehicle_total_discount > 0 %}
															<td> {{ single_vehicle.discount }}% </td>
														{% endif %}
														<td class = "text-right">
															{{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_vehicle.vehicle_cost_after_discount, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
							
							{% if data.facility_bookings %}
								<div class="table table-responsive m-t">
									<br>
									<h5 class="earth earth-colour">CONSERVATION ACCOMMODATION</h5>
									<table class="table table-striped">
										<thead>
											<tr>
												<td><b>Accommodation Name</b></td>
												<td><b>Rates</b></td>
												{% if data.facility_total_discount > 0 %}
													<td><b>Discount</b></td>
												{% endif %}
												<td class = "text-right"><b>Amount</b></td>
											</tr>
										</thead>
										<tbody>
											{% for single_acc in data.facility_bookings %}
												<tr>
													<td>
														{{ single_acc.facility_name }} {% if single_acc.facility_catering_type_name %} ({{ single_acc.facility_catering_type_name }}) {% endif %}
														<b> ({{ single_acc.facility_booking_guests }}) </b>
														<br>
														<em> {{ single_acc.facility_booking_check_in_date.strftime("%d %b %Y") }} to {{ single_acc.facility_booking_check_out_date.strftime("%d %b %Y") }} </em>
													</td>
													<td>
														<!-- Handling camping accommodation -->
														{% if single_acc.facility_type == "Camping Sites" %}
															{% if single_acc.facility_booking_fixed_cost > 0 %}
																<b> Campsite Fee: </b> 1 x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_fixed_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }} for 7 Nights
																<br>
															{% endif %}
															{% if single_acc.facility_booking_adults > 0 %}
																<b> Camping Fee (Adult): </b> {{ single_acc.facility_booking_adults }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_cost_per_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% endif %}
															{% if single_acc.facility_booking_children > 0 %}
																<b> Camping Fee (Child): </b> {{ single_acc.facility_booking_children }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_cost_per_child, data.buying_rate, data.selling_rate, data.booking_ref)) }}
															{% endif %}
														{% endif %}

														<!-- Handling Stables -->
														{% if single_acc.accomodation_type == "Stables" %}
															{% if single_acc.facility_booking_adults + single_acc.facility_booking_children > 0 %}
																<b> {{ single_acc.chef_room_marker }}: </b> {{ single_acc.no_of_rooms }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_room, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% endif %}
															{% if single_acc.facility_booking_extra_adults > 0 %}
																<b> Adult: </b> {{ single_acc.facility_booking_extra_adults }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_extra_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% endif %}
															{% if single_acc.facility_booking_extra_children > 0 %}
																<b> Child: </b> {{ single_acc.facility_booking_extra_children }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.cost_per_extra_child, data.buying_rate, data.selling_rate, data.booking_ref)) }}
															{% endif %}
														{% endif %}

														<!-- Handling Pelican -->
														{% if single_acc.accomodation_type == "Pelican" %}
															{% if single_acc.facility_booking_adults > 0 %}
																<b> Adult: </b> {{ single_acc.facility_booking_adults }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_cost_per_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% endif %}
															{% if single_acc.facility_booking_children > 0 %}
																<b> Child: </b> {{ single_acc.facility_booking_children }} x {{ single_acc.facility_no_of_nights }} {{ single_acc.unit }} @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_cost_per_child, data.buying_rate, data.selling_rate, data.booking_ref)) }}
															{% endif %}
														{% endif %}
													</td>
													{% if data.facility_total_discount > 0 %}
														<td> {{ single_acc.facility_booking_discount_percentage }}% </td>
													{% endif %}
													<td class = "text-right">
														{{ data.currency }}
														{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_acc.facility_booking_total_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
							
							{% if data.inventory_bookings %}
								<div class="table table-responsive m-t">
									<br>
									<h5 class="earth earth-colour">CONSERVATION ACTIVITIES</h5>
									<table class="table table-striped">
										<thead>
											<tr>
												<td><b>Activity Name</b></td>
												<td><b>Rates</b></td>
												{% if data.inventory_total_discount > 0 %}
													<td><b>Discount</b></td>
												{% endif %}
												<td class = "text-right"><b>Amount</b></td>
											</tr>
										</thead>
										<tbody>
											{% for single_activity in data.inventory_bookings %}
												<tr>
													<td>
														{{ single_activity.inventory_name }}
														<b> ({{ single_activity.inventory_booking_guests }}) </b>
														<br>
														<em> {{ single_activity.inventory_booking_date.strftime("%d %b %Y") }} </em>
													</td>
													<td>
														{% if single_activity.inventory_booking_adults > 0 %}
															{% if single_activity.inventory_ranger_marker %}
																<b> Ranger: </b> {{ single_activity.inventory_booking_adults }} x 1 Day @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_activity.inventory_booking_cost_per_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% else %}
																<b> Adult: </b> {{ single_activity.inventory_booking_adults }} x 1 Day @ {{ data.currency }}
																{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_activity.inventory_booking_cost_per_adult, data.buying_rate, data.selling_rate, data.booking_ref)) }}
																<br>
															{% endif %}
														{% endif %}
														{% if single_activity.inventory_booking_children > 0 %}
															<b> Child: </b> {{ single_activity.inventory_booking_children }} x 1 Day @ {{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_activity.inventory_booking_cost_per_child, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														{% endif %}
													</td>
													{% if data.inventory_total_discount > 0 %}
														<td> {{ single_activity.inventory_booking_discount_percentage }}% </td>
													{% endif %}
													<td class = "text-right">
														{{ data.currency }}
														{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, single_activity.inventory_booking_total_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}

							<div class="table table-responsive m-t">
								<table class="table">
									<thead>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td class = "text-right"><b>Total</b></td>
											<td class = "text-right">
												<b>
													{{ data.currency }}
													{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, data.total_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }}
												</b>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<div class="row m-t">
								<div style="float: left; width: 60%;"></div>
								<div class="col-md-4 offset-md-8" style="float: right; width: 40%;">
									<table class="table table-striped text-right">
										<!-- <thead>
											<tr>
												<td></td>
												<td><h6 class = "earth">TAX BREAKDOWN</h6></td>
											</tr>
										</thead> -->
										<tbody>
											<tr>
												<td colspan="2"><h6 class = "earth">TAX BREAKDOWN</h6></td>
											</tr>
											<tr>
												<td><strong>Catering Levy ({{ data.catering_levy }}% Where Applicable) :</strong></td>
												<td>
													{{ data.currency }}
													<br>
													{{ return_formatted_tax(return_converted_amount(data.invoice_currency, data.booking_currency, data.tax_breakdown.catering, data.buying_rate, data.selling_rate, data.booking_ref)) }}
												</td>
											</tr>
											<tr>
												<td><strong>VAT ({{ data.vat_rate }}%) :</strong></td>
												<td>
													{{ data.currency }}
													<br>
													{{ return_formatted_tax(return_converted_amount(data.invoice_currency, data.booking_currency, data.tax_breakdown.vat, data.buying_rate, data.selling_rate, data.booking_ref)) }}
												</td>
											</tr>
											<tr>
												<td><strong>Sub Total :</strong></td>
												<td>
													{{ data.currency }}
													<br>
													{{ return_formatted_tax(return_converted_amount(data.invoice_currency, data.booking_currency, data.tax_breakdown.after_tax, data.buying_rate, data.selling_rate, data.booking_ref)) }}
												</td>
											</tr>
										</tbody>
										<!-- <tfoot>
											
										</tfoot> -->
									</table>
								</div>
							</div>

							<div class="row m-t">
								<div class="col-md-4 offset-md-8">
									<table class="table text-right">
										<tbody>
											<tr>
												<td><h2 class = "earth earth-colour">TOTAL :</h2></td>
												<td><h2>
													<b>
														{{ data.currency }}
														{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, data.total_cost, data.buying_rate, data.selling_rate, data.booking_ref)) }}
													</b>
												</h2></td>
											</tr>
											{% if data.payment_total > 0 %}
												{% if data.payment_balance > 0 %}
												<tr>
													<td class = "text-right"><b>Amount Paid :</b></td>
													<td class = "text-right">
														<b>
															{{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, data.payment_total, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</b>
													</td>
												</tr>
												<tr>
													<td class = "text-right"><b>Balance :</b></td>
													<td class = "text-right">
														<b>
															{{ data.currency }}
															{{ return_formatted_fee(return_converted_amount(data.invoice_currency, data.booking_currency, data.payment_balance, data.buying_rate, data.selling_rate, data.booking_ref)) }}
														</b>
													</td>
												</tr
												{% endif %}
											{% endif %}
										</tbody>
										<tfoot>
											
										</tfoot>
									</table>
								</div>
							</div>

							{% if donations %}
								<div class="layout row wrap m-t">
									<div style="float: left; width: 60%;"></div>
									<div class="col-md-4 offset-md-8" style="float: right; width: 40%;">
										<table class="table table-striped text-right">
											<!-- <thead>
												<tr>
													<td></td>
													<td><h6 class = "earth">TAX BREAKDOWN</h6></td>
												</tr>
											</thead> -->
											<tbody>
												<tr>
													<td colspan="2"><h6 class = "earth">DONATIONS</h6></td>
												</tr>
												{% for single_donation in donations %}
													<tr>
														<td><strong> {{ single_donation.donation_cause_name }} :</strong></td>
														<td>
															{{ single_donation.donation_currency_name }}
															<br>
															{{ return_formatted_tax(single_donation.donation_amount) }}
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<!-- <tfoot>
												
											</tfoot> -->
										</table>
									</div>
								</div>
								<br><br><br><br>
							{% endif %}

							{% if booking_notes %}
								<br>
								<div class="layout row wrap">
									<h6 class = "earth"> BOOKING NOTES</h6>
									
									<br>
									{% for single_note in booking_notes %}
										<p>
											{{ single_note.note }}
											<br>
											<em><div style="font-size: 75%"> <b>{{ single_note.user }}</b> on {{ single_note.created_at.strftime("%d %b %Y") }} at {{ single_note.created_at.strftime("%I:%M %p") }} </div></em>
										</p>
										<br>
									{% endfor %}

								</div>
							{% endif %}

							<br><br><br>
							<div class = "layout row wrap">
								<div class = "col-md-12">
									<h5 class = "earth earth-colour"> CANCELLATION POLICY </h5>
									<p>
										<ol>
											<li> If a booking is cancelled 60 - 30 days to arrival, 20% of the total booking value will be charged. </li>
											<li> If a booking is cancelled 30 - 20 days to arrival, 50% of the total booking value will be charged. </li>
											<li> If a booking is cancelled within 19 days to arrival, 100% of the total booking value will be charged. </li>
										</ol>
									</p>
								</div>
							</div>

							<br><br><br>
							<div class = "layout row wrap">
								<div class = "col-md-12">
									<h5 class = "earth earth-colour"> PAYMENT POLICY </h5>
									<p>
										<ol>
											<li> If booked within one month of arrival, must be paid in full 48hours after making the reservation. </li>
											<li> If booked at least one month before arrival – full payment or 30% deposit within 7 days of making the reservation and balance in full at least one month prior to arrival. </li>
										</ol>
									</p>
								</div>
							</div>

							<br><br><br>
							<div class = "layout row wrap">
								<div class = "col-md-12">
									<h5 class = "earth earth-colour"> CONSERVATION EXPERIENCES POLICY </h5>
									<p>
										<ol>
											<li> If a client arrives 15 minutes after the scheduled starting time of the activity without prior notice, Ol Pejeta Conservancy reserves the right to reduce the duration of the experience by 15 minutes or cancel the booking without a refund. </li>
											<li> If a client does not arrive within 30 minutes after the scheduled starting time of the activity without notice, the booking will be cancelled and payment forfeited. </li>
										</ol>
									</p>
								</div>
							</div>

							<br><br><br>
							<div class = "layout row wrap">
								<div class = "col-md-12">
									<h5 class = "earth earth-colour"> BANK DETAILS </h5>
									<p>
										
										<address>
											<strong> GT Bank - KES Account </strong>
											<br>
											<em>Account Name: </em> Ol Pejeta Ranching Ltd
											<br>
											<em>Bank & Branch: </em> Guaranty Trust Bank (Kenya) Ltd, Nanyuki Branch
											<br>
											<em>Account Number: </em> 2190005892
											<br>
											<em>SWIFT Code: </em> GTBIKENA
											<br>
											<em>Bank code: </em> 53009
											<br>
											<em>Postal address: </em> P.O. Box 1715 – 10400 Nanyuki
										</address>
										
										<br>
										<address>
											<strong> GT Bank - USD Account </strong>
											<br>
											<em>Account Name: </em> Ol Pejeta Ranching Ltd
											<br>
											<em>Bank & Branch: </em> GT Bank, Nanyuki Branch
											<br>
											<em>Account Number: </em> 2190009042
											<br>
											<em>SWIFT Code: </em> GTBIKENA
											<br>
											<em>Bank code: </em> 53009
											<br>
											<em>Postal address: </em> P.O. Box 1715 – 10400 Nanyuki
										</address>
										
										<br>
										<address>
											<strong> Barclays Bank of Kenya - KES Account </strong>
											<br>
											<em>Account Name: </em> Ol Pejeta Ranching Ltd
											<br>
											<em>Bank & Branch: </em> Barclays Bank of Kenya, Nyeri Branch
											<br>
											<em>Account Number: </em> 8020568
											<br>
											<em>Sort Code: </em> 02-030
											<br>
											<em>SWIFT Code: </em> BARCKENX
										</address>
										
										<br>
										<address>
											<strong> Barclays Bank of Kenya - USD Account </strong>
											<br>
											<em>Account Name: </em> Ol Pejeta Conservancy Ltd 
											<br>
											<em>Bank & Branch: </em> Barclays Bank of Kenya, Nyeri Branch 
											<br>
											<em>Account Number: </em> 7228849
											<br>
											<em>Sort Code: </em> 022
											<br>
											<em>SWIFT Code: </em> BARCKENX
										</address>

										<br>
										<address>
											<strong> Mpesa Money Transfer </strong>
											<ul>
												<li> Paybill Number: 964550 </li>
												<li> Account Number: <b>{{ data.booking_ref }}</b> </li>
											</ul>
										</address>
										
										<br><br>
										<b><i> Our gates are cashless; ONLY Mpesa and credit/debit card payments are accepted at the entry gates. </i></b>
										
										<br>
										<b><i> OL PEJETA CONSERVANCY IS PLASTICLESS: As required by law, all form of SINGLE-USE plastic are not allowed on the conservancy. </i></b>
											
									</p>
								</div>
							</div>

						</div>
						
					</div>
				</div>
			</div>
		</div>        

	</body>

</html>