<!DOCTYPE html>
<html>
<head>
<style>
body
{
  width:100%;
  margin-left:5px;
  margin-right:5px;
}
h1, p , a , center, td, th ,h3 {
	font-family: sans-serif;
  font-size: 90%;
}
table, th, td {
  page-break-inside: avoid;
  border: none;
  border-collapse: collapse;
}
th {
	border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding: 5px;
  text-align: left;    
}
th, h1, h2, h3, h4, h5, h6{
  font-weight: 200;
}
p.terms, b.terms{
  font-size: 30%;
}
</style>
</head>
<body>

<!-- <p><center>......................................................................................................................................................</center></p> -->
<p> <center> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>
<p>
	<center> OL PEJETA RANCHING LTD</center>
    <center> PRIVATE BAG 167 </center>
    <center> NANYUKI</center>
    
    <center> PIN : P0005915440 </center>
    <!-- <center> 167</center> -->
    <center> POS SALES</center>
    
    
</p>

<!-- <p><center>......................................................................................................................................................</center></p> -->
<p> <center> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>
<a>Date : {{ data.date }}</a><br>
<!-- <a>Till : Tourism_11</a><br> -->
<a>Document No : {{ data.gatepass_id }}</a><br>
<a>Booking Ref : {{ data.booking_ref }}</a><br>
<!-- <a>Visit Type : Day Trip</a><br> -->
<!-- <a>Customer Type : School</a><br> -->
<!-- <a>Customer Category : </a><br> -->
<a>Customer Name : {{ data.done_by }} </a><br>
<!-- <a>Nationality :</a><br> -->
<a>Check-In : {{ data.check_in_date }}</a><br>
<a>Check-Out : {{ data.check_out_date }}</a><br>
<a>Payment Mode : {{ data.payment_method }}</a><br>
<a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a>
<!-- <a>................................................................................................................................................................................</a>  -->
<br>
<!-- <a>Name : Direct Payments</a> <br/> -->
<!-- <a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a> -->
<!-- <a>................................................................................................................................................................................</a> -->
<table style="width:100%">
  <tr>
    <th>QTY</th>&#09;
    <th>UNIT</th>&#09;
    <th>PRICE</th>&#09;
  </tr>
  {% for vehicle in vehicles %}
    <tr>
      <td> {{ vehicle.vehicle_type }} </td>&#09;
      <td> {{ vehicle.vehicle_count }} </td>&#09;
      <td> {{ vehicle.vehicle_cost }} </td>&#09;
      <td> {{ vehicle.vehicle_total }} </td>
    </tr>
  {% endfor %}
  <!-- <tr>
    <td>Vehicle Fee (1 - 6 Seats)</td>
    <td>1</td>
    <td>10,000</td>
    <td>10,000</td>
  </tr>
  <tr>
    <td>Vehicle Fee (1 - 6 Seats)</td>
    <td>1</td>
    <td>10,000</td>
    <td>10,000</td>
  </tr>
  <tr>
    <td>Vehicle Fee (1 - 6 Seats)</td>
    <td>1</td>
    <td>10,000</td>
    <td>10,000</td>
  </tr> -->
  <tr style="border-top: 1px; padding-bottom:10px; border-bottom: 1px dashed; margin-bottom: 10px;">
  	<td style="padding-top:10px"><em>Total Due</em></td>&#09;
    <td style="padding-top:10px"></td>&#09;
    <td style="padding-top:10px"> {{ data.currency }} : </td>&#09;
    <td style="padding-top:10px"><em> {{ data.total_vehicle }} </em></td>
  </tr>

  <br><br>

  {% for guest in guests %}
    <tr>
      <td> {{ guest.guest_type }} </td>&#09;
      <td> {{ guest.guest_count }} </td>&#09;
      <td> {{ guest.guest_cost }} </td>&#09;
      <td> {{ guest.guest_total }} </td>
    </tr>
  {% endfor %}

  <tr style="border-top: 1px; padding-bottom: 10px">
  	<td style="padding-top:10px"><em>Total Due</em></td>&#09;
    <td style="padding-top:10px"></td>&#09;
    <td style="padding-top:10px"> {{ data.currency }} : </td>&#09;
    <td style="padding-top:10px"><em> {{ data.total_guest }} </em></td>
  </tr>

   <tr style="border-top: 1px dashed; padding-bottom: 10px">
  	<td style="padding-top:10px"><b>Total Tendering</b></td>&#09;
    <td style="padding-top:10px"></td>&#09;
    <td style="padding-top:10px"> {{ data.currency }} : </td>&#09;
    <td style="padding-top:10px"><b> {{ data.total_cost }} </b></td>
  </tr>
</table>

<h3><center>VAT ANALYSIS</center></h3>

<table style="width:100%">
	<tr>
      <th>RATE</th>&#09;
      <th>GOODS</th>&#09;
      <th>VAT VALUE</th>&#09;
      <th>TOTAL VALUE</th>
    </tr>
    <tr>
      <td style="padding-top:10px">V - 16% {{ data.currency }} </td>&#09;
      <td style="padding-top:10px; padding-right:10px"> {{ data.total_cost }} </td>&#09;
      <td style="padding-top:10px; padding-right:10px"> {{ data.tax_amount }} </td>&#09;
      <td style="padding-top:10px"><b style="font-weight:500"> {{ data.amount }} </b></td>
    </tr>
</table>
<!-- <a>................................................................................................................................................................................</a>  -->
<a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a>

{% if data.addtional_note %}
<p> Narration : {{ data.additional_note }} </p>
<!-- <a>................................................................................................................................................................................</a> -->
<a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a>
{% endif %}
{% if data.reprint == True %}
  <p>Receipt Printed By: {{ data.teller }}</p>
{% else %}
  <p>You Were Served By: {{ data.teller }}</p>
{% endif %}
<!-- <a>................................................................................................................................................................................</a>  -->
<a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a>

{% if drivers.driver_status == True %}
<h4><center>Vehicles</center></h4>

<table style="width:100%">
	<tr>
      <th>Driver</th>&#09;
      <th>Registration</th>&#09;
      <th>Disk</th>
    </tr>
    {% for single_driver in drivers.vehicles %}
      <tr>
        <td style="padding-top:10px"> {{ single_driver.driver }} </td>&#09;
        <td style="padding-top:10px; padding-right:10px"> {{ single_driver.reg_plate }} </td>&#09;
        <td style="padding-top:10px"><b style="font-weight:500"> {{ single_driver.disk }} </b></td>
      </tr>
    {% endfor %}
</table>

<a> <div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div> </a>
{% endif %}

<p>
	<center> Welcome and enjoy your visit</center>
  <center> M: 0707187141, T: 0202033244</center>
</p>

<br><br>

<p class = "terms">
  I FULLY ACCEPT THAT BY MY ENTRY INTO THE OL PEJETA CONSERVANCY (&quot;THE CONSERVANCY&quot;) FOR ANY PURPOSES WHATSOEVER THERE EXISTS INHERENT DANGER TO MY LIFE AND PROPERTY.
  I CONFIRM THAT I HAVE READ THE CONSERVANCY&apos;S &quot;CODE OF CONDUCT&quot; AND THAT I SHALL ABIDE BY IT IN ORDER TO BE REASONABLY SAFE.
  I FULLY UNDERSTAND AND ACCEPT THAT THERE ARE DANGEROUS WILD ANIMALS (INCLUDING LIONS, RHINOS, ELEPHANTS, BUFFALOES, SNAKES, INSECTS AND OTHERS) WITHIN THE CONSERVANCY AND I ACCEPT THAT BY ENTERING INTO THE CONSERVANCY FOR ANY PURPOSES WHATSOEVER, 
  I AGREE TO WAIVE AND RELEASE THE CONSERVANCY, THE OL PEJETA CONSERVANCY LIMITED AND ANY OF ITS EMPLOYEES, AGENTS, AFFILIATES AND OFFICERS AND TO HOLD EACH OF THEM HARMLESS FROM ALL AND ANY INJURY, LIABILITY, CLAIM, ACCIDENT, LOSS OR DAMAGE OF ANY NATURE THAT MAY ARISE AS A RESULT OF MY ENTRY ONTO THE CONSERVANCY INCLUDING BUT NOT LIMITED TO PERSONAL INJURY (FATAL OR OTHERWISE) AND/OR THAT MAY BE CAUSED TO MY PERSONAL PROPERTY.
  THIS WAIVER IS ENTERED INTO ON MY BEHALF AND ON BEHALF OF ANY MINORS ACCOMPANYING ME, AND IS BINDING ON MY ASSIGNS, HEIRS AND LEGAL REPRESENTATIVES.
  IF ANY PORTION OF THIS WAIVER IS UNENFORCEABLE, SUCH PORTION SHALL BE STRUCK OUT PROVIDED THAT THE REMAINING PORTION SHALL REMAIN IN FULL FORCE AND EFFECT. THIS WAIVER SHALL BE GOVERNED BY KENYAN LAWS.
</p>

<br>

<!-- <b class = "terms">CANCELLATION POLICY:</b>
<p class = "terms">
  <ol>
    <li class = "terms"> IF A BOOKING IS CANCELLED 60 - 30 DAYS TO ARRIVAL. 20% OF BOOKING VALUE WILL BE CHARGED. </li>
    <li class = "terms"> IF A BOOKING IS CANCELLED 30 - 20 DAYS TO ARRIVAL, 50% OF THE TOTAL BOOKING VALUE WILL BE CHARGED. </li>
    <li class = "terms"> IF A BOOKING IS CANCELLED WITHIN 19 DAYS TO ARRIVAL, 100% OF THE TOTAL BOOKING VALUE WILL BE CHARGED. </li>
  </ol>
</p> -->

<!-- <center>..................................................................................................................................................................................................................................</center> -->
<div class="aligncenter" style="width:302.36px;height:0;border-top:1px dashed;font-size:0;">-</div>
</body>
</html>


