<!DOCTYPE html>
<html>

    <head>
        
        <meta http-equiv = "content-type" content = "text/html; charset=<charset>" />
        <title> Receipt Template </title>

        <style type = "text/css">

            body, td{
                background-color: #ffffff;
                color: #000000;
                font-family: Arial;
                font-size: 8pt;
            }

            body{
                width: 80mm;
                /* margin-left: auto;
                margin-right: auto; */
                text-align: justify;
            }

            h1, p , a , center, td, th ,h3 {
                font-family: sans-serif;
                font-size: 90%;
            }

            table, th, td {
                page-break-inside: avoid;
                border: none;
                border-collapse: collapse;
            }

            th, h1, h2, h3, h4, h5, h6{
                font-weight: 200;
            }

            p.terms, b.terms{
                font-size: 30%;
            }

        </style>

    </head>

    <body>

        <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>
        
        <p>
            <center> OL PEJETA RANCHING LTD</center>
            <center> PRIVATE BAG 167 </center>
            <center> NANYUKI</center>
            
            <center> PIN : P0005915440 </center>
            <!-- <center> 167</center> -->
            <center> POS SALES</center>
        </p>

        <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>

        <a> Date : {{ data.date }} </a> <br>
        <a> Document No : {{ data.gatepass_id }} </a> <br>
        <a> Booking Ref : {{ data.booking_ref }} </a> <br>
        <a> Customer Name : {{ data.done_by }} </a> <br>
        <a> Check-In : {{ data.check_in_date }} </a> <br>
        <a> Check-Out : {{ data.check_out_date }} </a> <br>
        <a> Payment Mode : {{ data.payment_method }} </a> <br>

        <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>

        <!-- <br> -->

        <table style="width:100%">
            
            <tr>
                <th>QTY</th>
                <th>UNIT</th>
                <th>PRICE</th>
                <th></th>
            </tr>

            {% for vehicle in data.vehicles %}
                {% if vehicle.vehicles > 0 %}
                    <tr>
                        <td> {{ vehicle.vehicle_charge_category }} </td>
                        <td> {{ vehicle.vehicles }} x {{ vehicle.vehicle_no_of_nights }} nights </td>
                        <td> {{ vehicle.vehicle_charge_category_cost }} </td>
                        <td> {{ vehicle.vehicle_cost_after_discount }} </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr style="border-top: 1px; padding-bottom:10px; border-bottom: 1px dashed; margin-bottom: 10px;">
                <td style="padding-top:10px"> <em> Total Due </em> </td>
                <td style="padding-top:10px"></td>
                <td style="padding-top:10px"> {{ data.currency }} : </td>
                <td style="padding-top:10px"> <em> {{ data.vehicle_cost_after_discount }} </em> </td>
            </tr>

            <br><br>

            {% for guest in data.guests %}
                {% if guest.payment_guests > 0 %}
                    <tr>
                        <td> {{ guest.payment_person }} </td>
                        <td> {{ guest.payment_guests }} x {{ guest.no_of_nights }} nights </td>
                        <td> {{ guest.payment_person_amount }} </td>
                        <td> {{ guest.payment_person_cost_after_discount }} </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr style="border-top: 1px; padding-bottom: 10px; border-bottom: 1px dashed; margin-bottom: 10px;">
                <td style="padding-top:10px"> <em> Total Due </em> </td>
                <td style="padding-top:10px"></td>
                <td style="padding-top:10px"> {{ data.currency }} : </td>
                <td style="padding-top:10px"> <em> {{ data.guest_cost_after_discount }} </em> </td>
            </tr>

            {% if data.facility_bookings %}
                <br><br>
            
                {% for facility in data.facility_bookings %}
                    <tr>
                        <td> {{ facility.facility_name }} </td>
                        <td>  </td>
                        <td> {{ data.currency }} : </td>
                        <td> {{ facility.facility_booking_total_cost }} </td>
                    </tr>
                {% endfor %}

                <tr style="border-top: 1px; padding-bottom: 10px; border-bottom: 1px dashed; margin-bottom: 10px;">
                    <td style="padding-top:10px"> <em> Total Due </em> </td>
                    <td style="padding-top:10px"></td>
                    <td style="padding-top:10px"> {{ data.currency }} : </td>
                    <td style="padding-top:10px"> <em> {{ data.facility_bookings_cost_after_discount }} </em> </td>
                </tr>
            {% endif %}

            {% if data.inventory_bookings %}
                <br><br>
            
                {% for inventory in data.inventory_bookings %}
                    <tr>
                        <td> {{ inventory.inventory_name }} </td>
                        <td>  </td>
                        <td> {{ data.currency }} : </td>
                        <td> {{ inventory.inventory_booking_total_cost }} </td>
                    </tr>
                {% endfor %}

                <tr style="border-top: 1px; padding-bottom: 10px; border-bottom: 1px dashed; margin-bottom: 10px;">
                    <td style="padding-top:10px"> <em> Total Due </em> </td>
                    <td style="padding-top:10px"></td>
                    <td style="padding-top:10px"> {{ data.currency }} : </td>
                    <td style="padding-top:10px"> <em> {{ data.inventory_bookings_cost_after_discount }} </em> </td>
                </tr>
            {% endif %}

            <tr style="border-top: 1px dashed; padding-bottom: 10px">
                <td style="padding-top:10px"> <b> Total Tendering </b> </td>
                <td style="padding-top:10px"></td>
                <td style="padding-top:10px"> {{ data.currency }} : </td>
                <td style="padding-top:10px"> <b> {{ data.total_cost }} </b> </td>
            </tr>

        </table>

        <br>

        <h3><center>VAT ANALYSIS</center></h3>

        <table style="width:100%">
            
            <tr>
                <th> RATE </th>
                <th> GOODS </th>
                <th> VAT VALUE </th>
                <th> TOTAL VALUE </th>
            </tr>

            <tr>
                <td style="padding-top:10px"> V - 16% {{ data.currency }} </td>
                <td style="padding-top:10px; padding-right:10px"> {{ data.vat.summable }} </td>
                <td style="padding-top:10px; padding-right:10px"> {{ data.vat.tax }} </td>
                <td style="padding-top:10px"> <b style="font-weight:500"> {{ data.vat.after_tax }} </b> </td>
            </tr>

        </table>

        {% if data.catering_levy %}

            <h3><center>CATERING LEVY ANALYSIS</center></h3>

            <table style="width:100%">
                
                <tr>
                    <th> RATE </th>
                    <th> GOODS </th>
                    <th> LEVY VALUE </th>
                    <th> TOTAL VALUE </th>
                </tr>

                <tr>
                    <td style="padding-top:10px"> 2% {{ data.currency }} </td>
                    <td style="padding-top:10px; padding-right:10px"> {{ data.catering_levy.summable }} </td>
                    <td style="padding-top:10px; padding-right:10px"> {{ data.catering_levy.tax }} </td>
                    <td style="padding-top:10px"> <b style="font-weight:500"> {{ data.catering_levy.after_tax }} </b> </td>
                </tr>

            </table>

        {% endif %}

        <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>

        {% if data.addtional_note %}
            <p> Narration : {{ data.additional_note }} </p>

            <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>
        {% endif %}

        {% if data.reprint == True %}
            <p> Receipt Printed By: {{ data.teller }} </p>
        {% else %}
            <p> You Were Served By: {{ data.teller }} </p>
        {% endif %}

        <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>

        {% if drivers.driver_status == True %}
            <h4> <center> Vehicles </center> </h4>

            <table style="width:100%">

                <tr>
                    <th>Driver</th>
                    <th>Registration</th>
                    <th>Disk</th>
                </tr>

                {% for single_driver in drivers.vehicles %}
                    <tr>
                        <td style="padding-top:10px"> {{ single_driver.driver }} </td>
                        <td style="padding-top:10px; padding-right:10px"> {{ single_driver.reg_plate }} </td>
                        <td style="padding-top:10px"> <b style="font-weight:500"> {{ single_driver.disk }} </b> </td>
                    </tr>
                {% endfor %}

            </table>

            <p> <center> <div class="aligncenter" style="width:100%;height:0;border-top:1px dashed;font-size:0;">-</div> </center> </p>
        {% endif %}

        <p>
            <center> Welcome and enjoy your visit</center>
            <center> M: 0707187141, T: 0202033244</center>
        </p>

        <p class = "terms">

            I FULLY ACCEPT THAT BY MY ENTRY INTO THE OL PEJETA CONSERVANCY (&quot;THE CONSERVANCY&quot;) FOR ANY PURPOSES WHATSOEVER THERE EXISTS INHERENT DANGER TO MY LIFE AND PROPERTY.
            I CONFIRM THAT I HAVE READ THE CONSERVANCY&apos;S &quot;CODE OF CONDUCT&quot; AND THAT I SHALL ABIDE BY IT IN ORDER TO BE REASONABLY SAFE.
            I FULLY UNDERSTAND AND ACCEPT THAT THERE ARE DANGEROUS WILD ANIMALS (INCLUDING LIONS, RHINOS, ELEPHANTS, BUFFALOES, SNAKES, INSECTS AND OTHERS) WITHIN THE CONSERVANCY AND I ACCEPT THAT BY ENTERING INTO THE CONSERVANCY FOR ANY PURPOSES WHATSOEVER, 
            I AGREE TO WAIVE AND RELEASE THE CONSERVANCY, THE OL PEJETA CONSERVANCY LIMITED AND ANY OF ITS EMPLOYEES, AGENTS, AFFILIATES AND OFFICERS AND TO HOLD EACH OF THEM HARMLESS FROM ALL AND ANY INJURY, LIABILITY, CLAIM, ACCIDENT, LOSS OR DAMAGE OF ANY NATURE THAT MAY ARISE AS A RESULT OF MY ENTRY ONTO THE CONSERVANCY INCLUDING BUT NOT LIMITED TO PERSONAL INJURY (FATAL OR OTHERWISE) AND/OR THAT MAY BE CAUSED TO MY PERSONAL PROPERTY.
            THIS WAIVER IS ENTERED INTO ON MY BEHALF AND ON BEHALF OF ANY MINORS ACCOMPANYING ME, AND IS BINDING ON MY ASSIGNS, HEIRS AND LEGAL REPRESENTATIVES.
            IF ANY PORTION OF THIS WAIVER IS UNENFORCEABLE, SUCH PORTION SHALL BE STRUCK OUT PROVIDED THAT THE REMAINING PORTION SHALL REMAIN IN FULL FORCE AND EFFECT. THIS WAIVER SHALL BE GOVERNED BY KENYAN LAWS.

        </p>
        
    </body>

</html>