<!DOCTYPE html>
<html>
	
	<head>
		<title> Salesforce Records </title>
	</head>

	<body>
		
		<div style="float: right">
			
			<address>
				<b> Source: </b> <i> Bookings </i>
				<br>
				<b> Date: </b> <i> {{ date }} </i>
			</address>

		</div>
		
		<br>

		<p> Records: </p>

		<ul>
			{% for record in data %}
				<li>
					<a href = """/booking/{{ record.booking }}">{{ record.booking }}</a>
					<br>
					{{ record.status }}
					<br>
					{% if record.exception %}
						{{ record.exception }}
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	</body>

</html>